.girok{
    margin-top:10px;

}

.menu { height: 100px;
            border-bottom: 3px solid black;
            display: flex;
            align-items: center;
            background-image:"PPI.png"
            }

.menu-right-item{
 display: flex;
 font-size: 0.8rem;
}
.menu-item{
  margin-left: 10px;

}

.main{
  width: 800px;
  margin: 0 auto;
  margin-top: 150px;

}
.pricing-item{
  color: #FCA205;
  font-family: 'Lobster';
  text-align: center;
  font-size: 5rem;
  font-weight: 1000;
  margin: 50px;
}
.price-item{

  width: 700px;
  height: 400px;
  border: 2px solid gray;
  margin: 50px;
  border-radius: 4px;


}
.price{
  color : black;
  font-family: 'Lobster';
  /*margin-top: 10%;*/

  justify-content: space-around;
}
.price-item-title{
  color : white;
  font-family: 'Lobster';
  font-size: 1.6rem;
  height: 35px;
  text-align: center;
  background: rgba(0,0,0,.03);
  background-color: #ff9400;
  line-height: 30px;
  border-bottom: 1px solid white;
}
.price-item-price{
text-align: center;
  font-size: 2.3rem;
  font-family: 'Lobster';


}
.price-item-price1{
text-align: center;
  font-size: 1.4rem;
  font-family: 'Lobster';


}

.price-item-detail{
  font-size: 4rem;
  font-weight: 300;
  padding-left: 40px;
  margin-bottom:30px;
  weight:200px;
  font-family: 'Lobster';

}

.a{
  font-style: italic;
  /*margin-top:30%;*/
  display: flex;

  margin-bottom:30px;
 /* height: 60px;*/
  justify-content: space-around;
}

.ggingggong{


    font-size:1.6em;
    border-radius: 10px;
    height: 150px;
    width: 300px;
    justify-content: space-around;

}

.ggingggang{
    display: flex;
    justify-content: space-around;

}

.num-button
{
    border-radius: 10px;
    height: 50px;
    margin-top:25px;
    width: 50px;
}




.timer{
    text-align: center;
    margin-top:15%;
    margin-bottom:15%;
    justify-content: space-around;

}

.timertext{
    margin-right:65%;
}

.starttimer{
    font-size: 1.6em;
    border-radius: 10px;
    justify-content: space-around;
    text-align: center;
    width:200px;
    height: 150px;
    margin:30px;
}

.stoptimer{
    font-size: 1.6em;
    border-radius: 10px;
     text-align: center;
      width:200px;
    height: 150px;
    margin:30px;
}

.home{
    font-size: 1.6em;
    border-radius: 10px;
    width:200px;
    height: 150px;
    margin:30px;
}

.clock{
    margin-top:20%;
}
.resultmain{
    /*height:880px;
    width:720px;*/
}
.resul
{
    margin: 40px;
}

.result{

}

.result-button{
    margin-top:20px;
    height: 50px;

    width: 75px;
}
.table table-hover table-striped text-center{
    display: flex;
    padding: 50px;
}
.result2{

width: 100%
}
.suljung{

    font-weight : bold;
    color:white;
    font-size:30px;
    background-color:#ff9400;
    margin-color:#ff9400;
    height:43.2px;

}